body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

/* HEADER */
header{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}

nav a{
margin:10px;
color:#38bdf8;
text-decoration:none;
}

/* HERO */
.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.role{
color:#38bdf8;
}

/* LINKS */
.links a{
margin:10px;
color:#38bdf8;
}

/* BUTTON */
.btn{
margin-top:10px;
padding:10px 20px;
border:1px solid #38bdf8;
color:#38bdf8;
text-decoration:none;
}

/* SKILLS */
.skills{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
}

.skills span{
background:#1e293b;
padding:10px 20px;
border-radius:20px;
transition:0.3s;
}

.skills span:hover{
background:#38bdf8;
color:black;
transform:scale(1.1);
}

/* PROJECTS */
.projects{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:#1e293b;
margin:10px;
padding:15px;
width:250px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
background:#334155;
}

/* FADE */
.fade{
opacity:0;
transform:translateY(40px);
transition:0.8s;
}

.fade.show{
opacity:1;
transform:translateY(0);
}
