*{margin:0;padding:0;box-sizing:border-box;font-family:'Segoe UI';}
body{background:#050816;color:white;}

/* NAV */
nav{display:flex;justify-content:space-between;padding:20px 60px;background:#050816;}
nav ul{display:flex;gap:20px;list-style:none;}
nav a{color:#aaa;text-decoration:none;}
nav a:hover{color:#4ea1ff;}

/* HERO */
.hero{display:flex;justify-content:space-between;align-items:center;padding:80px;}
.hero-text h1{font-size:70px;}
.hero-text span{color:#4ea1ff;}
.role{color:#4ea1ff;margin-top:10px;}
.desc{color:#aaa;margin-top:10px;}

/* BUTTON */
.btn{
padding:12px 25px;
background:linear-gradient(45deg,#4ea1ff,#60a5fa);
border-radius:30px;
color:white;
text-decoration:none;
transition:0.3s;
}
.btn:hover{
transform:scale(1.1);
box-shadow:0 0 20px rgba(78,161,255,0.5);
}

/* IMAGE */
.hero-img img{
width:220px;height:220px;border-radius:50%;
border:4px solid #4ea1ff;
box-shadow:0 0 25px rgba(78,161,255,0.4);
}

/* SECTION */
.section{padding:100px 80px;}
h2{
font-size:55px;
background:linear-gradient(to right,#4ea1ff,#60a5fa);
-webkit-background-clip:text;color:transparent;
}

/* SKILLS */
.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:20px;
margin-top:40px;
}

.skill-card{
background:rgba(12,18,32,0.7);
padding:15px;
text-align:center;
border-radius:15px;
border:1px solid rgba(255,255,255,0.1);
transition:0.4s;
}
.skill-card:hover{
transform:translateY(-8px) scale(1.05);
box-shadow:0 0 20px rgba(78,161,255,0.5);
color:#4ea1ff;
}

/* PROJECTS */
.projects-container{display:flex;gap:20px;flex-wrap:wrap;}
.project-card{
background:#0c1220;padding:20px;border-radius:20px;width:260px;
transition:0.4s;
}
.project-card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px rgba(78,161,255,0.4);
}
.project-card a{color:#4ea1ff;margin-top:10px;display:block;}

/* CONTACT */
.contact-buttons{display:flex;gap:15px;flex-wrap:wrap;}
.contact-btn{
padding:12px 20px;background:#0c1220;border-radius:30px;color:white;text-decoration:none;
transition:0.3s;
}
.contact-btn:hover{
color:#4ea1ff;border:1px solid #4ea1ff;
}

/* ANIMATION */
.hidden{opacity:0;transform:translateY(60px);transition:1s;}
.show{opacity:1;transform:translateY(0);}
